@use '../abstracts' as a;

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: a.$font-family-sans;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Set core theme variables */
:root {
  --background: #{a.$light-background};
  --text: #{a.$light-text};
  --text-muted: #{a.$light-text-muted};
  --border: #{a.$light-border};
  --card-bg: #{a.$light-card-bg};
}

.dark {
  --background: #{a.$dark-background};
  --text: #{a.$dark-text};
  --text-muted: #{a.$dark-text-muted};
  --border: #{a.$dark-border};
  --card-bg: #{a.$dark-card-bg};
}
